
@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;800;900&family=Tajawal:wght@400;500;700;800;900&display=swap'); 


#app {}

a {
  text-decoration: none; 
}


section:not(section.location) {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 0;
}

.title {
  margin: 2rem 0;
  text-align: center;
}

.title span {
  padding: 1rem 0;
  border-bottom: 2px solid #000;

}

section p, li {
  font-size: 1.5rem;
}

@media (hover: hover) {}

@media (min-width: 1024px) {}